<h3>About Me</h3>
<ul>
	<li><a href="/contact/">Contact Details</a></li>
	<li><a href="http://twitter.com/danielctull">Twitter</a></li>
    <li><a href="http://github.com/danielctull">GitHub</a></li>
    <li><a href="http://stackoverflow.com/users/155863/daniel-tull">Stack Overflow</a></li>
    <li><a href="http://google.com/reader/shared/06047137066122335809">Google Reader</a></li>
    <li><a href="http://www.last.fm/user/danielctull">Last.fm</a></li>
    <li><a href="http://flickr.com/photos/18319588@N00/">Flickr</a></li>
    <li><a href="http://uk.linkedin.com/in/danieltull">LinkedIn</a></li>
</ul>