<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}: {{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/fonts/museo/stylesheet.css" type="text/css" media="screen" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/DanielTull" />
		<link rel="service.feed" type="application/atom+xml" title="Atom" href="http://feeds.feedburner.com/DanielTull" />
	</head>
	<body>
		<div id="wrapper" class="wrapper">
			<div id="inner-wrapper" class="page inner-wrapper">
            
				<div class="sidebar four-col">
                	<h3 class="logo"><a href="/">Daniel Tull</a></h3>

					<div class="section">
						{% include recentpostsmenu.html %}
					</div>
					
					<div class="section">
						{% include opensourcemenu.html %}
					</div>
					
					<div class="section">
						{% include appsmenu.html %}
					</div>
					
					<div class="section">
						{% include aboutmenu.html %}
					</div>
				</div>
				
				<div class="twelve-col last-col">
					<div class="post main-text">
						<h1>{{ page.title }}</h1>
						<h5 class="postdate">{{ page.date | date: "%A, %d %B %Y" }}</h5>
						{{ content }}
					</div>
				</div>
				
				<div class="footer sixteen-col">
					{% include footer.html %}
				</div>
				
			</div>
		</div>
		{% include analytics.html %}
  	</body>
</html>