<!DOCTYPE html>
<html>
	<head>
		<title>{{ site.name }}: {{ page.title }}</title>
		<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
		<link rel="stylesheet" href="/fonts/museo/stylesheet.css" type="text/css" media="screen" />
		<link rel="alternate" type="application/rss+xml" title="RSS" href="http://feeds.feedburner.com/DanielTull" />
		<link rel="service.feed" type="application/atom+xml" title="Atom" href="http://feeds.feedburner.com/DanielTull" />
	</head>

	<body>
		<div id="wrapper" class="wrapper">
			<div id="inner-wrapper" class="inner-wrapper">
				<div class="page sixteen-col">
					<div class ="twelve-col">
						<div class="main-content main-text">
							<h1>{{ page.title }}</h1>
							{{ content }}						
	                	</div>
	
						<div class="four-col last-col download">
							<a href="http://github.com/danielctull/{{ page.title }}/zipball/master"><img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
							<a href="http://github.com/danielctull/{{ page.title }}/tarball/master"><img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
						</div>				
					</div>
					<div class="footer sixteen-col">
						{% include footer.html %}
					</div>
					
				</div>				
			</div>
		</div>
		{% include analytics.html %}
	</body>
</html>